.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.title::after {
  content: "";
  width: 30px;
  background-color: aqua;
  height: 4px;
}

.more-link {
  padding: 8px 12px;
  background-color: #60f4d4;
  color: rgb(73, 73, 72);
  border-radius: 8px;
  text-align: center;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

.dark-theme {
  background-color: #0a192f;
}

.view {
  margin-top: 106px;
}
